@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Display:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600,700&display=swap);
@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url(../fonts/FuturaCyrillicMedium.woff2) format("woff2"),url(../fonts/FuturaCyrillicMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url(../fonts/FuturaCyrillicBook.woff2) format("woff2"),url(../fonts/FuturaCyrillicBook.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url(../fonts/FuturaCyrillicBold.woff2) format("woff2"),url(../fonts/FuturaCyrillicBold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
.checkbox__item::before,
.radio::before,
.select__value:after,
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-download:before {
  content: "\e900"
}
._icon-check:before {
  content: "\e901"
}
._icon-cross:before {
  content: "\e902"
}
._icon-user-add:before {
  content: "\e903"
}
._icon-file-add:before {
  content: "\e904"
}
._icon-edit:before {
  content: "\e905"
}
._icon-eye:before {
  content: "\e906"
}
._icon-arrow-right:before {
  content: "\e907"
}
._icon-ch-down:before {
  content: "\e908"
}
._icon-ch-double-right:before {
  content: "\e909"
}
._icon-ch-right:before {
  content: "\e90a"
}
._icon-search:before {
  content: "\e90b"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #666;
  line-height: 1;
  font-family: "Futura PT";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Futura PT";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: none
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.select {
  min-width: 0;
  position: relative;
  max-width: 11.25rem
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: .0625rem solid #00938b;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: .3125rem
}
._select-open .select__title {
  border-radius: .3125rem .3125rem 0 0
}
.select--show-top .select__title {
  border-radius: 0 0 .3125rem .3125rem
}
.select__value {
  display: flex;
  min-width: 0;
  color: #000;
  font-size: 1rem;
  align-items: center;
  height: 2.625rem;
  padding: 0 1.875rem;
  gap: .9375rem
}
.select__value > * {
  flex: 1 1 auto
}
.select__value:after {
  content: "\e908";
  font-size: .5rem;
  align-self: center;
  transition: all .3s ease 0s;
  display: flex;
  margin-top: .1875rem;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
  line-height: 1.12
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%
}
.select__options {
  color: #000;
  font-size: 1rem;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 .3125rem .3125rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: .0625rem solid #00938b;
  border-top: 0;
  padding: .625rem 0 .3125rem 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: .0625rem solid #00938b;
  border-bottom: 0;
  border-radius: .3125rem .3125rem 0 0;
  padding: .3125rem 0 .625rem 0
}
._select-tag {
  cursor: pointer
}
body::after {
  content: "";
  background-color: rgba(151,152,152,.35);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  width: 100%;
  display: flex;
  justify-content: center
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  color: #1c1c28;
  font-size: 1rem;
  transition: color .3s
}
.new-popup {
  width: 100%;
  max-width: 58.9375rem;
  border-radius: .625rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem .625rem 4.75rem .625rem
}
.new-popup__title {
  color: #00938b;
  text-align: center;
  font-size: 1.375rem;
  max-width: 43.0625rem;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -.03125rem;
  text-transform: uppercase
}
.new-popup__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.new-popup__text {
  text-align: center;
  font-size: 1.375rem;
  max-width: 43.0625rem
}
.new-popup__text:not(:last-child) {
  margin-bottom: 2rem
}
.new-popup__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 24.5rem;
  width: 100%
}
.new-popup__input {
  width: 100%
}
.new-popup__button {
  width: 100%
}
.popup__body {
  position: relative
}
.remove-popup {
  width: 100%;
  max-width: 44.9375rem;
  border-radius: .75rem;
  background-color: #eee;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding: 2.3125rem .9375rem 2.875rem .9375rem
}
.remove-popup__title {
  color: #000;
  text-align: center;
  font-family: "Noto Sans",sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -.04375rem;
  text-transform: uppercase
}
.remove-popup__text {
  font-size: 1.375rem;
  text-align: center
}
.remove-popup__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem
}
.remove-popup__button {
  padding: 1rem 2rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.checkbox__item::before,
.pain-level,
.radio::before {
  display: flex;
  align-items: center;
  justify-content: center
}
.breadcrumbs__link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.input input::-webkit-input-placeholder,
.search__input::-webkit-input-placeholder {
  -webkit-transition: all .3s;
  transition: all .3s
}
.input input:-ms-input-placeholder,
.search__input:-ms-input-placeholder {
  -ms-transition: all .3s;
  transition: all .3s
}
.input input::-ms-input-placeholder,
.search__input::-ms-input-placeholder {
  -ms-transition: all .3s;
  transition: all .3s
}
.input input::placeholder,
.search__input::placeholder {
  transition: all .3s
}
.input input:focus-visible,
.search__input:focus-visible {
  outline: 0
}
.input input:focus-visible::-webkit-input-placeholder,
.search__input:focus-visible::-webkit-input-placeholder {
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  opacity: 0
}
.input input:focus-visible:-ms-input-placeholder,
.search__input:focus-visible:-ms-input-placeholder {
  transform: translateX(10%);
  opacity: 0
}
.input input:focus-visible::-ms-input-placeholder,
.search__input:focus-visible::-ms-input-placeholder {
  transform: translateX(10%);
  opacity: 0
}
.input input:focus-visible::placeholder,
.search__input:focus-visible::placeholder {
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  opacity: 0
}
.breadcrumbs--margin:not(:last-child) {
  margin-bottom: 1.25rem
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem
}
.breadcrumbs__item {
  color: #444;
  font-size: .8125rem;
  display: flex;
  align-items: center;
  gap: 1rem
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  font-family: Inter,sans-serif;
  font-size: .8125rem
}
.breadcrumbs__item:last-child {
  pointer-events: none
}
.tag {
  color: #00938b;
  font-family: "Noto Sans",sans-serif;
  font-weight: 700;
  font-size: .625rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
  padding: .25rem .75rem;
  background: #cdf2ef;
  flex-shrink: 0
}
.pagination {
  display: flex;
  flex-wrap: wrap
}
.pagination li {
  color: #979898;
  padding: .9375rem;
  flex-shrink: 0;
  font-size: 1.125rem;
  border-top: .0625rem solid #ebebed;
  border-bottom: .0625rem solid #ebebed;
  transition: all .3s;
  cursor: pointer
}
.pagination li:first-child {
  border-left: .0625rem solid #ebebed;
  border-radius: .625rem 0 0 .625rem
}
.pagination li:last-child {
  border-right: .0625rem solid #ebebed;
  border-radius: 0 .625rem .625rem 0
}
.pagination li.active {
  background-color: #00938b;
  color: #fff;
  pointer-events: none
}
.title {
  color: #000;
  font-family: "Noto Sans";
  font-weight: 700
}
.search {
  padding: 0 .8125rem 0 3.125rem;
  border-radius: .25rem;
  border: .0625rem solid #ebebed;
  position: relative
}
.search::before {
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: grey
}
.search__input {
  padding-top: .625rem;
  padding-bottom: .625rem;
  height: 2.5rem;
  font-size: .8125rem;
  font-family: Inter,sans-serif
}
.search__input::-webkit-input-placeholder {
  color: #979898
}
.search__input:-ms-input-placeholder {
  color: #979898
}
.search__input::-ms-input-placeholder {
  color: #979898
}
.search__input::placeholder {
  color: #979898
}
.button {
  border-radius: .25rem;
  padding: 1rem 1.25rem;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  gap: .625rem;
  background-color: #00938b;
  color: #fff;
  transition: background-color .3s
}
.button::before {
  font-size: 1rem
}
.button._icon-arrow-right::before {
  font-size: .625rem
}
.button--text-icon {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center
}
.button--border {
  border: .0625rem solid #00938b;
  background-color: transparent;
  color: #00938b
}
.button--icon {
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1
}
.button--black {
  background-color: #1e2b39;
  border-color: transparent
}
.button--red {
  border-color: transparent;
  background-color: #ff1b52
}
.inactive {
  display: inline-block;
  color: #ff1b52;
  text-align: center;
  font-family: "Noto Sans",sans-serif;
  font-size: .75rem;
  font-weight: 700;
  border-radius: .75rem;
  border: .0625rem solid #ff1b52;
  padding: .375rem;
  text-transform: uppercase
}
.input {
  border: .0625rem solid #979898;
  border-radius: .25rem
}
.input input {
  padding: 0 .875rem;
  height: 3.125rem;
  color: #000
}
.input input::-webkit-input-placeholder {
  color: #757575
}
.input input:-ms-input-placeholder {
  color: #757575
}
.input input::-ms-input-placeholder {
  color: #757575
}
.input input::placeholder {
  color: #757575
}
.input--icon {
  display: flex;
  align-items: center;
  gap: .6875rem;
  padding: 0 .875rem
}
.input--icon input {
  padding: 0
}
.input--icon::before {
  font-size: 1.25rem;
  color: #757575
}
.input--number {
  width: 4.25rem
}
.input--number input {
  text-align: center
}
.input--other {
  width: 100%;
  max-width: 16.875rem
}
.input--pills {
  display: flex;
  align-items: center;
  gap: .25rem
}
.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  max-width: 11.25rem;
  color: #000
}
.radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}
.radio:has(input:checked)::before {
  color: #fff;
  background-color: #00938b
}
.radio::before {
  content: "\e901";
  color: transparent;
  font-size: .75rem;
  height: 1.75rem;
  width: 1.75rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: .0625rem solid #979898
}
.checkbox__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  color: #000
}
.checkbox__item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}
.checkbox__item:has(input:checked)::before {
  color: #fff;
  background-color: #00938b
}
.checkbox__item::before {
  content: "\e901";
  flex-shrink: 0;
  font-size: .75rem;
  color: transparent;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: .125rem;
  border: .0625rem solid #979898
}
[data-item],
[data-subitem] {
  position: relative
}
[data-item]::before,
[data-subitem]::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #00938b;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500
}
[data-item]::before {
  content: attr(data-item)
}
[data-subitem]::before {
  content: attr(data-subitem)
}
.page__research {
  margin-bottom: 5rem
}
.research__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.research__search:not(:last-child) {
  margin-bottom: 1.75rem
}
.research__items:not(:last-child) {
  margin-bottom: 1.875rem
}
.research__item {
  padding-bottom: 1.25rem;
  border-bottom: .0625rem solid #d5d5d5
}
.research__item:first-child {
  padding-top: 1.25rem;
  border-top: .0625rem solid #d5d5d5
}
.research__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.tags-research__title {
  color: #000;
  font-family: Inter,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: -.5px
}
.tags-research__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.tags-research__list {
  padding-left: .75rem
}
.tags-research__item {
  font-size: .8125rem;
  font-family: Inter,sans-serif;
  position: relative;
  display: block;
  transition: color .3s;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.tags-research__item:not(:last-child) {
  margin-bottom: 1rem
}
.tags-research__item:has(.tags-research__input:checked) {
  color: #00938b;
  font-weight: 700
}
.tags-research__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0
}
.item-reseach__tags {
  display: flex;
  gap: .375rem;
  flex-wrap: wrap
}
.item-reseach__tags:not(:last-child) {
  margin-bottom: .875rem
}
.item-reseach__body {
  display: flex;
  gap: 1rem
}
.item-reseach__link {
  color: #000;
  font-family: "Noto Sans",sans-serif;
  font-size: 1rem;
  font-weight: 600;
  flex-grow: 1;
  transition: color .3s
}
.item-reseach__info {
  display: flex;
  gap: 3.125rem;
  flex-shrink: 0
}
.item-reseach__status {
  color: #00938b;
  font-family: "Noto Sans",sans-serif;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase
}
.item-reseach__status--red {
  color: #ff1b52
}
.item-reseach__date {
  color: #979898;
  font-size: .875rem
}
.page__article {
  margin-bottom: 6.25rem
}
.article__hero {
  background-color: #00938b;
  min-height: 21.75rem;
  border-radius: .75rem;
  border: .0625rem solid #ebebed;
  position: relative
}
.article__hero:not(:last-child) {
  margin-bottom: 2.25rem
}
.article__hero::before {
  content: "";
  aspect-ratio: 355/257;
  width: 22.1875rem;
  position: absolute;
  top: 0;
  mix-blend-mode: color-dodge;
  right: 0;
  background: url(../img/article/hero-bg-right.png) no-repeat top right/contain;
  pointer-events: none
}
.article__hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: color-dodge;
  background: url(../img/article/hero-bg-left.png) no-repeat top right/contain;
  aspect-ratio: 274/198;
  width: 17.125rem;
  pointer-events: none
}
.article__header {
  position: relative
}
.article__header:not(:last-child) {
  margin-bottom: 4.625rem
}
.article__info {
  display: flex;
  gap: 3.125rem;
  position: relative;
  align-items: center
}
.article__info:not(:last-child) {
  margin-bottom: 1.25rem
}
.article__status {
  color: #fff;
  font-family: "Noto Sans",sans-serif;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase
}
.article__date {
  color: #fff;
  font-size: .875rem;
  font-weight: 400
}
.article__tags {
  display: flex;
  gap: .25rem;
  flex-wrap: wrap
}
.article__title {
  position: relative;
  color: #fff;
  font-family: "Noto Sans",sans-serif;
  font-size: 2.25rem;
  font-weight: 600
}
.article__body {
  position: relative
}
.article__image {
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 392/710;
  z-index: -1;
  -webkit-transform: translate(42.091837%,-3.943662%);
  transform: translate(42.091837%,-3.943662%)
}
.article__text {
  max-width: 44rem
}
.article__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.article__visits:not(:last-child) {
  margin-bottom: 2.3125rem
}
.article__account-banner:not(:last-child) {
  margin-bottom: 3.125rem
}
.text {
  line-height: 1.44
}
.text p:not(:last-child) {
  margin-bottom: 1.875rem
}
.visits__label {
  font-family: "Noto Sans",sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -.04375rem;
  text-transform: uppercase;
  line-height: 1.3
}
.visits__label:not(:last-child) {
  margin-bottom: 1.75rem
}
.visits__item {
  padding: 2rem 1.25rem;
  border-radius: .625rem;
  border: .125rem solid #00938b;
  background-color: #fff
}
.visits__image {
  width: 3.0625rem;
  height: 3.0625rem
}
.visits__image:not(:last-child) {
  margin-bottom: 1.5rem
}
.visits__title {
  color: #000;
  font-family: "Noto Sans",sans-serif;
  font-size: 1.375rem;
  font-weight: 600
}
.visits__title:not(:last-child) {
  margin-bottom: .75rem
}
.account-banner {
  display: flex;
  flex-direction: column;
  align-items: center
}
.account-banner__title {
  max-width: 46.625rem;
  text-align: center;
  font-family: "Noto Sans",sans-serif;
  font-size: 1.375rem;
  font-weight: 600
}
.account-banner__title:not(:last-child) {
  margin-bottom: 1.75rem
}
.account-banner__actions {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center
}
.account-banner__link {
  flex-shrink: 0;
  flex-wrap: 1
}
.questionary-article {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center
}
.questionary-article__title {
  color: #000;
  text-align: center;
  font-family: "Noto Sans",sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: -.04375rem;
  text-transform: uppercase
}
.questionary-article__text {
  font-size: 1.3125rem;
  max-width: 25.875rem;
  text-align: center
}
.patients__inactive {
  margin-top: 1.5625rem
}
.patients__inactive:not(:last-child) {
  margin-bottom: .625rem
}
.patients__add {
  max-width: 34.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.patients__items {
  display: grid;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  row-gap: 1.3125rem;
  grid-template-columns: repeat(auto-fill,minmax(15.625rem,.5fr))
}
.patients__items:not(:last-child) {
  margin-bottom: 2rem
}
.patients__pagination {
  display: flex;
  justify-content: center
}
.add-patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.75rem;
  border-radius: .625rem;
  background-color: #ebebed
}
.add-patient__title {
  color: #00938b;
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase
}
.add-patient__button {
  width: 100%;
  max-width: 18.75rem
}
.item-patient {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: .375rem;
  border: .0625rem solid #ebebed;
  padding: 1.25rem
}
.item-patient__remove {
  position: absolute;
  top: .625rem;
  right: .625rem;
  color: #d5d5d5;
  font-size: 1rem;
  transition: color .3s
}
.item-patient__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center
}
.item-patient__body:not(:last-child) {
  margin-bottom: 1.4375rem
}
.item-patient__image {
  width: 7.4375rem;
  height: 7.4375rem;
  border-radius: 50%
}
.item-patient__image:not(:last-child) {
  margin-bottom: 1rem
}
.item-patient__label {
  color: #000;
  text-align: center;
  font-size: 1.125rem
}
.item-patient__label:not(:last-child) {
  margin-bottom: .625rem
}
.item-patient__title {
  color: #000;
  text-align: center;
  font-size: 1.375rem
}
.item-patient__title:not(:last-child) {
  margin-bottom: .625rem
}
.item-patient__actions {
  padding-top: 1.4375rem;
  border-top: .0625rem solid #ebebed;
  display: grid;
  grid-template-columns: 1fr 2.75rem;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .375rem
}
.item-patient__button {
  font-size: 1rem;
  gap: .5rem;
  padding: .875rem 1rem
}
.item-patient__button--new {
  grid-column: span 2
}
.questionary__header:not(:last-child) {
  margin-bottom: 2.5rem
}
.questionary__title:not(:last-child) {
  margin-bottom: 1.125rem
}
.questionary__subtitle {
  color: #00938b;
  font-family: "Noto Sans",sans-serif;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -.1rem
}
.questionary__aside {
  flex: 0 0 17.6875rem
}
.questionary__form {
  flex-grow: 1
}
.aside-questionary {
  padding: .75rem .75rem 1.25rem .75rem;
  border-radius: .5rem;
  background: #ebebed
}
.aside-questionary__title {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -.03125rem;
  text-transform: uppercase
}
.aside-questionary__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.aside-questionary__label {
  padding: .75rem .875rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #000;
  gap: .6875rem;
  border-radius: .25rem;
  border: .0625rem solid #ebebed;
  background-color: #fff
}
.aside-questionary__label::before {
  font-size: 1rem;
  color: #979898
}
.aside-questionary__label:not(:last-child) {
  margin-bottom: 1rem
}
.aside-questionary__button {
  width: 100%;
  padding: .875rem 1rem
}
.form-questionary__block:not(:last-child) {
  margin-bottom: 1.25rem
}
.form-questionary__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -.03125rem;
  padding: .625rem 1.5rem;
  background-color: #00938b
}
.form-questionary__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.form-questionary__item {
  padding-left: 2rem
}
.form-questionary__item:not(:last-child) {
  margin-bottom: 1rem
}
.form-questionary__item > span {
  display: block;
  color: #000;
  font-size: 1.125rem
}
.form-questionary__item ul li {
  color: #000;
  font-size: 1.125rem
}
.form-questionary__item ul li:not(:last-child) {
  margin-bottom: .5rem
}
.form-questionary__label {
  color: #00938b;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500
}
.form-questionary__label span {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400
}
.form-questionary__label--flex {
  display: flex;
  gap: .75rem;
  text-wrap: nowrap
}
.form-questionary__label--flex span {
  color: #000;
  display: block;
  text-wrap: wrap
}
.form-questionary__label:not(:last-child) {
  margin-bottom: .75rem
}
.form-questionary__label--black {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  display: block
}
.form-questionary__input input {
  height: 2.125rem;
  font-size: 1.125rem
}
.form-questionary__radiobox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center
}
.form-questionary__field {
  display: flex;
  align-items: center;
  gap: .75rem
}
.form-questionary__field--age {
  gap: .5rem;
  color: #000;
  font-size: 1.125rem
}
.form-questionary__field .form-questionary__label {
  margin-bottom: 0
}
.form-questionary__field--pills {
  color: #000;
  font-size: 1.125rem;
  display: flex;
  gap: .25rem;
  align-items: center
}
.form-questionary__field--date {
  display: flex;
  gap: .25rem;
  align-items: center;
  font-size: 1.125rem;
  color: #000
}
.form-questionary__field--date .input {
  margin-bottom: 0
}
.form-questionary__subitem {
  padding-left: 2rem
}
.form-questionary__subitem:not(:last-child) {
  margin-bottom: 1.5rem
}
.form-questionary__checkbox {
  display: inline-grid;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .5rem
}
.form-questionary__checkbox:not(:last-child) {
  margin-bottom: .75rem
}
.form-questionary__footer {
  padding-top: .9375rem;
  border-top: .0625rem #ebebed solid
}
.form-questionary__footer--no-border {
  border: none
}
.form-questionary__text {
  color: #585757;
  font-size: 1rem;
  line-height: 1.12;
  font-weight: 500
}
.form-questionary__text p:not(:last-child) {
  margin-bottom: .5rem
}
.form-questionary__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.form-questionary__actions {
  display: flex;
  gap: .75rem;
  flex-direction: column;
  align-items: center
}
.form-questionary__button {
  padding: .875rem 1rem;
  width: 100%;
  max-width: 15.9375rem
}
.muscle-map {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.25rem;
  justify-content: center;
  align-items: start
}
.muscle-map__col {
  display: flex;
  flex-direction: column;
  align-items: center
}
.muscle-map__label {
  color: #000;
  font-weight: 500;
  text-align: center;
  font-size: 1.125rem;
  max-width: 16rem
}
.muscle-map__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.muscle-map__map {
  position: relative
}
.muscle-map__map svg {
  width: 100%
}
.muscle-map__map svg .muscle {
  cursor: pointer;
  transition: all .3s
}
._disabled .muscle-map__map svg .muscle {
  pointer-events: none
}
.muscle-map__map svg .muscle._focus {
  opacity: 1
}
.muscle-map__map svg .muscle._focus::before {
  content: "";
  position: absolute;
  height: .625rem;
  width: .625rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: #00938b
}
.muscle-map__map svg .muscle._active {
  opacity: 1
}
.pain-level {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: .09375rem solid #000
}
.pain-level[data-value]::before {
  content: attr(data-value);
  font-size: .8125rem;
  color: #000;
  font-weight: 500
}
.pain-level:not([data-value])::after,
.pain-level:not([data-value])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #000
}
.pain-level:not([data-value])::before {
  content: "";
  height: .09375rem;
  width: .625rem;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.pain-level:not([data-value])::after {
  content: "";
  width: .09375rem;
  height: .625rem
}
.scale {
  display: flex;
  flex-direction: column-reverse;
  counter-reset: scale-item -1;
  padding-top: 1.25rem;
  padding-bottom: 1.5625rem
}
.scale__item {
  position: relative;
  padding-left: 2.1875rem;
  padding-right: 3.25rem;
  max-width: 12.9375rem;
  counter-increment: scale-item
}
.scale__item::before {
  content: counter(scale-item);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #231f20;
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}
.scale__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.scale__label {
  position: relative;
  color: #000;
  font-size: .875rem;
  font-weight: 700;
  border-bottom: .0625rem solid #231f20;
  width: 100%;
  padding-left: 1.625rem;
  padding-right: .375rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}
.scale__item:not(:last-child) .scale__label {
  min-height: 2.9375rem;
  padding-bottom: .625rem;
  padding-top: .625rem
}
._disabled .scale__label {
  pointer-events: none
}
.scale__label span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1.125rem
}
@media (min-width:31.25em) {
  .article__info {
    justify-content: center
  }
  .article__tags {
    justify-content: center
  }
}
@media (min-width:47.99875em) {
  .research__body {
    display: flex;
    align-items: start
  }
  .research__aside {
    flex: 0 0 15.9375rem
  }
  .research__content {
    margin-left: 2rem
  }
  .item-reseach__info {
    flex-direction: column;
    align-items: end;
    gap: .75rem
  }
  .select_research {
    display: none
  }
  .visits__items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem
  }
  .questionary__header {
    padding-bottom: .625rem;
    border-bottom: #d9d9d9 .0625rem solid
  }
  .form-questionary__item--grid {
    display: grid;
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: 1rem;
    grid-template-columns: auto 1fr;
    align-items: center
  }
  .form-questionary__checkbox {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:61.99875em) {
  .article__body {
    padding-right: 5.0625rem;
    padding-left: 3.8125rem
  }
  .questionary__wrapper {
    display: flex;
    align-items: start
  }
  .questionary__form {
    margin-left: 1.1875rem
  }
  .form-questionary__label--input:not(:last-child) {
    margin-bottom: 0
  }
}
@media (min-width:71.25em) {
  .title {
    font-size: 3rem
  }
  .article__hero {
    padding-top: 3rem
  }
  .article__hero {
    padding-right: 9.25rem
  }
  .article__hero {
    padding-bottom: 3.5rem
  }
  .article__hero {
    padding-left: 9.3125rem
  }
  .page__patients {
    margin-bottom: 7.5rem
  }
  .patients__title:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .patients__add:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .page__questionary {
    margin-bottom: 7.5rem
  }
  .form-questionary__body:not(:last-child) {
    margin-bottom: 2.5rem
  }
}
@media (max-width:61.99875em) {
  .article__image {
    display: none
  }
  .questionary__aside:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .form-questionary__label--flex {
    flex-wrap: wrap
  }
  .form-questionary__input input {
    font-size: 1rem
  }
  .form-questionary__input:not(:last-child) {
    margin-bottom: 1rem
  }
  .form-questionary__radiobox:not(:last-child) {
    margin-bottom: 1rem
  }
}
@media (max-width:47.99875em) {
  .popup__close {
    top: .5625rem;
    right: .5625rem
  }
  .new-popup {
    padding-top: 2.6875rem;
    padding-bottom: 3.5625rem
  }
  .new-popup__text {
    font-size: 1.125rem
  }
  .remove-popup {
    padding-bottom: 2.3125rem
  }
  .remove-popup__title {
    font-size: 1.25rem
  }
  .remove-popup__text {
    font-size: 1.25rem
  }
  .remove-popup__button {
    padding: .9375rem 1.5625rem
  }
  .breadcrumbs--margin:not(:last-child) {
    margin-bottom: .625rem
  }
  .research__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .research__aside:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .research__search:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .research__tags {
    display: none
  }
  .item-reseach__body {
    flex-direction: column
  }
  .article__hero {
    margin-bottom: 2.5rem
  }
  .article__hero::before {
    width: 18.75rem
  }
  .article__title {
    font-size: 2rem
  }
  .visits__item {
    padding: 1.25rem
  }
  .visits__item:not(:last-child) {
    margin-bottom: .5rem
  }
  .visits__image:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .account-banner__title {
    font-size: 1.25rem
  }
  .account-banner__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .patients__items {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 1.5rem
  }
  .item-patient {
    padding: 1rem .5rem
  }
  .item-patient__image {
    width: 7.4375rem;
    height: 7.4375rem
  }
  .item-patient__actions {
    grid-template-columns: 1fr 2.625rem;
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: 1rem
  }
  .item-patient__button {
    padding: .8125rem .5rem;
    font-size: .8125rem;
    gap: .25rem
  }
  .item-patient__button.button--icon {
    padding: 0
  }
  .questionary__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .questionary__subtitle {
    font-size: 1.125rem
  }
  .aside-questionary__title {
    font-size: 1.25rem
  }
  .form-questionary__item > span:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .form-questionary__label--black:not(:last-child) {
    margin-bottom: .75rem
  }
  .form-questionary__text {
    font-size: .875rem
  }
  .pain-level[data-value]::before {
    font-size: .625rem
  }
}
@media (max-width:31.25em) {
  .article__status {
    flex-grow: 1
  }
  .muscle-map__map {
    max-width: 12.5rem
  }
  .pain-level {
    width: .9375rem;
    height: .9375rem
  }
  .scale__item {
    max-width: 8.125rem;
    padding-left: 1.375rem;
    padding-right: 1.8125rem
  }
  .scale__item::before {
    font-size: .6875rem
  }
  .scale__image {
    width: 1.5625rem;
    height: 1.5625rem
  }
  .scale__label {
    font-size: .5rem;
    padding-left: .875rem;
    padding-right: .25rem;
    padding-top: .4375rem;
    padding-bottom: .4375rem
  }
  .scale__item:not(:last-child) .scale__label {
    min-height: 1.8125rem
  }
  .scale__label span {
    width: .6875rem
  }
}
@media (max-width:24.375em) {
  .title {
    font-size: 1.875rem
  }
  .article__hero {
    padding-top: 2.1875rem
  }
  .article__hero {
    padding-right: 1.4375rem
  }
  .article__hero {
    padding-bottom: 2rem
  }
  .article__hero {
    padding-left: 1.4375rem
  }
  .page__patients {
    margin-bottom: 5rem
  }
  .patients__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .patients__add:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .patients__items {
    grid-template-columns: 1fr
  }
  .page__questionary {
    margin-bottom: 2.625rem
  }
  .form-questionary__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (min-width:24.375em) and (max-width:71.25em) {
  @supports (font-size:clamp(1.875rem ,1.29rem + 2.4vw ,3rem)) {
    .title {
      font-size: clamp(1.875rem ,1.29rem + 2.4vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.29rem + 2.4vw ,3rem)) {
    .title {
      font-size: calc(1.875rem + 1.125 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (padding-top:clamp(2.1875rem ,1.765rem + 1.7333333333vw ,3rem)) {
    .article__hero {
      padding-top: clamp(2.1875rem ,1.765rem + 1.7333333333vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(2.1875rem ,1.765rem + 1.7333333333vw ,3rem)) {
    .article__hero {
      padding-top: calc(2.1875rem + .8125 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (padding-right:clamp(1.4375rem ,-2.625rem + 16.6666666667vw ,9.25rem)) {
    .article__hero {
      padding-right: clamp(1.4375rem ,-2.625rem + 16.6666666667vw ,9.25rem)
    }
  }
  @supports not (padding-right:clamp(1.4375rem ,-2.625rem + 16.6666666667vw ,9.25rem)) {
    .article__hero {
      padding-right: calc(1.4375rem + 7.8125 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (padding-bottom:clamp(2rem ,1.22rem + 3.2vw ,3.5rem)) {
    .article__hero {
      padding-bottom: clamp(2rem ,1.22rem + 3.2vw ,3.5rem)
    }
  }
  @supports not (padding-bottom:clamp(2rem ,1.22rem + 3.2vw ,3.5rem)) {
    .article__hero {
      padding-bottom: calc(2rem + 1.5 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (padding-left:clamp(1.4375rem ,-2.6575rem + 16.8vw ,9.3125rem)) {
    .article__hero {
      padding-left: clamp(1.4375rem ,-2.6575rem + 16.8vw ,9.3125rem)
    }
  }
  @supports not (padding-left:clamp(1.4375rem ,-2.6575rem + 16.8vw ,9.3125rem)) {
    .article__hero {
      padding-left: calc(1.4375rem + 7.875 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (margin-bottom:clamp(5rem ,3.7rem + 5.3333333333vw ,7.5rem)) {
    .page__patients {
      margin-bottom: clamp(5rem ,3.7rem + 5.3333333333vw ,7.5rem)
    }
  }
  @supports not (margin-bottom:clamp(5rem ,3.7rem + 5.3333333333vw ,7.5rem)) {
    .page__patients {
      margin-bottom: calc(5rem + 2.5 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)) {
    .patients__title:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)) {
    .patients__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)) {
    .patients__add:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.85rem + 2.6666666667vw ,3.75rem)) {
    .patients__add:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (margin-bottom:clamp(2.625rem ,0.09rem + 10.4vw ,7.5rem)) {
    .page__questionary {
      margin-bottom: clamp(2.625rem ,.09rem + 10.4vw ,7.5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.625rem ,0.09rem + 10.4vw ,7.5rem)) {
    .page__questionary {
      margin-bottom: calc(2.625rem + 4.875 * (100vw - 24.375rem)/ 46.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6rem + 2.6666666667vw ,2.5rem)) {
    .form-questionary__body:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.6rem + 2.6666666667vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6rem + 2.6666666667vw ,2.5rem)) {
    .form-questionary__body:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 24.375rem)/ 46.875)
    }
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #d9d9d9
  }
  .popup__close:hover {
    color: #00938b
  }
  .breadcrumbs__link:hover {
    text-decoration-color: inherit
  }
  .pagination li:hover {
    background-color: #f4f4f4
  }
  .button:hover {
    background-color: #007771
  }
  .button--border:hover {
    background-color: rgba(0,0,0,.1)
  }
  .button--black:hover {
    background-color: #11161d
  }
  .button--red:hover {
    background-color: #e31948
  }
  .tags-research__item:hover {
    color: #00938b
  }
  .item-reseach__link:hover {
    color: #00938b
  }
  .item-patient__remove:hover {
    color: #00938b
  }
  .muscle-map__map svg .muscle:hover {
    opacity: 1
  }
  .scale__label:hover {
    background-color: rgba(0,147,140,.2)
  }
}